doctype html
html(lang='en')
    head
        link(rel="stylesheet" href="./style.css")
        //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        meta(char="utf-8")
        meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi")
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css', integrity='sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd', crossorigin='anonymous')
        script(src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous")
        script(src="https://fb.me/react-with-addons-15.2.1.min.js")
        script(src="https://fb.me/react-dom-15.2.1.min.js")

    body
        .container
            header
                h1 my recipe box
            .brownBox
                #wrapper
                    script(src='./recipe.js')
                    script(src='./board.js')
                    script(src='./react.js')
            #footer Website by 
                a(href='http://freecodecamp.com/Cinders-P') Cinders-P
